/* 匹配函数 */
div {
  border-width: 48px;
  /* 匹配函数调用 */
}
.fa,
.aside-left {
  width: calc(100% - 20px);
}
/* 自定义变量 */
.aside-left {
  /* 插值 */
  background-color: red;
  /* 继承 */
  /* 调用函数嵌套样式 */
}
.aside-left:hover {
  /* 父选择器 */
  background-color: #fff;
}
@media not all and (min-width: 3px) {
  .box {
    width: 20px;
  }
}
