body {
    background-color: rgb(214, 71, 71);
    height: 2000px;
}
html::-webkit-scrollbar {
    width: 20px;
}
html::-webkit-scrollbar-thumb {
    background-color: rgba(168, 25, 25, 0.329);
    border-radius: 50%;
}